@import url('https://fonts.googleapis.com/css?family=Amaranth|Catamaran&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 position: relative;   
}

.hero-header img{
    height: 170px;
}

.hero-header{
    display: grid;
    justify-items: center;
}

.hero-header h1{
    color: #351F16;
    font-family: 'Amaranth', sans-serif;
}

#navBar{
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 75%;
    background-color: #FDE5C4;
    border-radius: .2em;
}

.nav-links{
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-item a{
    text-decoration: none;
    color: #351F16;
    font-family: 'Catamaran', sans-serif;
    font-size: 24px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
}

.nav-item a:hover{
    border-bottom: 2px solid #351F16;
}

.nav-item.active{
    border-bottom: 2px solid #351F16;
}

.catalogoGeral{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.flor{
    height: 330px;
    display: grid;
    align-content: space-between;
    justify-items: center;
    margin: 10px 35px;
}

.flor img{
    height: 300px;
    margin: 0 auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

footer{
    background-color: #FDE5C4;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    color: #351F16;
    font-family: 'Catamaran', sans-serif;
    margin-top: 10vh;
}

footer a{
    text-decoration: none;
    color: #689D6E;
}